* {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    background-color: #bfc2cb;
}

section {
    padding: 0;
    margin: 0 0 2rem 0;
}

div, h1, h2, p {
    margin: 0;
    padding: 0;
}



/* U-WRAPPER */
.u-wrapper {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto!important;
    padding: 0 1em;
    position: relative;
}
/* U-WRAPPER END */





/* HEADER */
header {
    background-color: #bfc2cb;
}
.header-wrapper {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper li {
    padding: 10px;
    list-style-type: none;
}

.header-nav ul {
    display: flex;
    padding: 0;
}

.header-nav a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.header-nav a:hover {
    border-bottom: 1px solid black;
    transition-duration: 1s;
}
.header-nav a img {
    margin-right: 4px;
}

.header-social ul {
    display: flex;
    padding: 0;
}
header nav img {
    width: 20px;
}
/* HEADER END */












/* HERO */
.hero-section {
    padding: 0 15px;
}
.hero-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 1px solid black;
}

.ebook-container {
    padding: 20px;
}
.ebook-image {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.ebook-image img {
    width: 100px;
    margin-right: 10px;
}

.author-container {
    padding: 20px;
}
.author-container p {
    text-align: right;
    margin-top: 10px;
}
.author-container p:nth-child(3) {
    text-align: justify;
}
.author-container a {
    color: #000;
}
.author-container a:hover {
    color: rgb(63, 63, 63);
}
.author-container img {
    width: 100%;
}
/* HERO END */








/* EBOOK-CONTENT */
.ebook-content {
    margin-bottom: 2rem;
}
.ebook-content p {
    font-size: 14px;
}
.ebook-content ul {
    background-color: rgb(237, 237, 237);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.ebook-content ul li {
    font-size: 13px;
}

.buy-button {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.buy-button p {
    text-align: center;
    font-size: 14px;
}
.buy-button p:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 550;
    color: rgb(11, 141, 45);
}
.buy-button p:nth-child(5) {
    margin: 10px auto;
}
.buy-button h2 {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid gray;
}
/* EBOOK-CONTENT END */












/* FOOTER */
footer {
    background-color: #bfc2cb;
    height: 200px;
    padding: 0 50px;
}

.footer-wrapper {
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 100%;
}

.footer-social-media ul {
    padding: 0;
    display: flex;
}

.footer-social-media li {
    list-style-type: none;
    padding: 10px;
}

.footer-social-media ul img {
    width: 20px;
}

.legend {
    padding-left: 10px;
}
.legend p {
    font-size: 20px;
}
/* FOOTER END */


























@media (max-width:760px){
    /* HEADER */
    .header-wrapper {
        flex-direction: column;
    }
    .header-wrapper li {
        padding: 5px;
        flex-direction: column;
    }
    /* HEADER END */





    /* HERO */
    .hero-wrapper {
        display: block;
    }

    .ebook-container {
        padding: 0;
    }

    .title-description {
        text-align: center;
    }
    .title-description h1 {
        font-size: 20px;
    }

    .description-container p {
        text-align: justify;
        font-size: 14px;
    }

    .author-container {
        padding: 30px 0 0 0;
    }
    .author-container p {
        margin-bottom: 1rem;
    }
    /* HERO END */






    /* FOOTER */
    .footer-wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .legend p {
        font-size: 16px;
    }

    .footer-social-media li {
        padding: 5px;
    }
    /* FOOTER END */
}